<h1>Stupid Coaching</h1>

<form action="/answer" method="GET" data-turbo="false">
  <label for="search">Ask your coach anything</label>
  <input
  type="text"
  id="question"
  name="question"
  >
  <input type="submit" value="Ask!">
</form>
